@model Dictionary<DateTime, List<ZenithDataLib.Models.Event>>

@{
    ViewBag.Title = "Home Page";
    @Styles.Render("~/Content/Home-table.css")
}

<h2>Upcoming Events</h2>
<table>
    @foreach (var onedayToEvents in Model)
    {

        if (onedayToEvents.Value.Count != 0)
        {
            <tr>
                <th colspan="2">@onedayToEvents.Key.ToString("dddd MMMM dd yyyy")</th>
            </tr>
            foreach (var oneevent in onedayToEvents.Value as List<ZenithDataLib.Models.Event>)
            {
            <tr>
                <td>@oneevent.EventFromDateTime.ToShortTimeString() - @oneevent.EventToDateTime.ToShortTimeString()</td>
                <td>@oneevent.ActivityCategory.ActivityDescription</td>
            </tr>
        }
    }


    }
</table>
