@model IEnumerable<ZenithDataLib.Models.ActivityCategory>

@{
    ViewBag.Title = "Activity Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Category</h2>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New Category", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ActivityDescription)
        </th>

@if (User.IsInRole("Admin"))
{
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
}
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityDescription)
        </td>


    @if (User.IsInRole("Admin"))
    {
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ActivityCategoryId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ActivityCategoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ActivityCategoryId })
        </td>
    }
    </tr>
}

</table>
